#pacManCanvas {
    width: 90vw;
    height: 90vh;
    max-width: 1000px;
    max-height: 750px;
    background: black;
    border: 10px solid limegreen;
    box-shadow: 0 0 20px limegreen;
    image-rendering: pixelated;
}